*, *::after {
  margin: 0;
  padding: 0;
}
.title {
  color: #fff;
  font-size: 25px;
}
header {
  width: 100%;
  height: 80px;
  background-color: chocolate;
  margin: auto;
  color:gainsboro;
}
nav ul {
  padding: 20px 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: space-around;
}
nav ul li a{
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}

.active {
  color: #111;
  text-decoration: underline;
}